# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Uploads & Downloads temp directories
downloads/
uploads/

# Virtual Environment
venv/
.venv/
env/

# IDE files
.vscode/
.idea/
